@page "/"
@rendermode InteractiveWebAssembly
@using global::Fishzor.Client.Components
@using Fishzor.Client.State
@inject FishTankState FishTankState
@implements IDisposable

<style>
    #fishTank {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>

<script>
    // this is declared here but used over in Fish.razor
    window.getTankRect = () => {
        var element = document.getElementById("fishTank");
        if (!element) return null;

        return element.getBoundingClientRect();
    }
</script>

<div id="fishTank" aria-label="Fish tank with swimming fish">
    <PageTitle>Fishy fishy fish</PageTitle>

    @foreach (var fish in FishTankState.Fish)
    {
        <Fish Color="@fish.Color" Scale="@fish.Scale" IsClientFish="@(fish.Id == FishTankState.ClientConnectionId)"
            CurrentMessage="@fish.CurrentMessage" IsMessageVisible="@fish.IsMessageVisible" @key="fish.Id" />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        FishTankState.OnStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        FishTankState.OnStateChanged -= StateHasChanged;
    }
}